In [1]:
import logging, os, pickle
import requests, glob
from datetime import datetime
from bs4 import BeautifulSoup
from datetime import datetime
import pandas as pd
import time
from datetime import date
import urllib.request
from selenium.webdriver import Chrome
import json, re, sys, h5py
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import datetime as dt
import pymysql
import matplotlib.pyplot as plt
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from pykrx import stock
import pyautogui

---

### 시가 총액 = 발행주식수(보통?주) * 마지막 종가가 맞다면 pykrx krx데이터가 정확한거네... 분기별 이런건 뭔가 완화시킨듯?

분기 ROE/ROA/PER/PBR은 직전 4개 분기 데이터로 연환산 하여 산출 <- 라고 네이버 금융에 나오긴 하네...

다시 정확하게 계산해야 하나...

1) marketcap to db (단위 억원으로 맞춰야할듯?)

2) 안나와있는 지표들 다시 계산...

Data Integrity Validation 중....

애초에 naver financial summary가 맞는지부터 의심해야겠는데?  -> dart-fss랑은 일치 // krx랑은?

+) krx 데이터든 뭐든 PIT가 아닌게 맞는건지?

In [95]:
driver_path = "C:/Users/Bae Kyungmo/OneDrive/Desktop/WC_basic/chromedriver.exe"
browser = Chrome(driver_path)
browser.maximize_window()
url = "http://marketdata.krx.co.kr/mdi#document=040402"
browser.get(url)
WebDriverWait(browser, 10).until(EC.element_to_be_clickable((By.XPATH,'//*[@id="schdate8f14e45fceea167a5a36dedd4bea2543"]')))
browser.find_elements_by_xpath('//*[@id="schdate8f14e45fceea167a5a36dedd4bea2543"]')[0].click()
for dt in ['2020-10-15','2020-10-16']:
    pyautogui.moveTo(617, 404)
    pyautogui.doubleClick()
    browser.find_elements_by_xpath('//*[@id="schdate8f14e45fceea167a5a36dedd4bea2543"]')[0].send_keys(dt[:4]+dt[5:7]+dt[8:])
    pyautogui.click(834, 455,duration=2.0)
    pyautogui.click(1266, 456,duration=2.0)
    time.sleep(6)
    os.rename("C:/Users/Bae Kyungmo/Downloads/data.csv", "C:/Users/Bae Kyungmo/Downloads/marcap-{}.csv".format(dt))

In [22]:
e1 = pd.read_csv("C:/Users/Bae Kyungmo/Downloads/marcap-2021-01-15.csv")

In [23]:
e1.head()

,순위,종목코드,종목명,현재가,대비,등락률,거래량,거래대금,시가,고가,저가,시가총액,시가총액비중(%),상장주식수,외국인 보유주식수,외국인 지분율(%),총카운트
0,1,005930,삼성전자,"88,600","-1,100",-1.2,"22,241,470","1,987,929,214,200","89,800","91,800","88,000","528,922,733,930,000",20.90,"5,969,782,550",NaN,NaN,2530.0
1,2,000660,SK하이닉스,"128,000","-2,500",-1.9,"3,474,541","453,216,007,500","133,000","135,000","127,000","93,184,302,720,000",3.68,"728,002,365",NaN,NaN,NaN
2,3,051910,LG화학,"985,000","-25,000",-2.5,"294,958","292,967,929,000","1,015,000","1,025,000","975,000","69,533,457,855,000",2.75,"70,592,343",NaN,NaN,NaN
3,4,005935,삼성전자우,"78,300",-500,-0.6,"1,905,654","149,976,522,300","79,300","80,100","77,800","64,432,028,610,000",2.55,"822,886,700",NaN,NaN,NaN
4,5,207940,삼성바이오로직스,"810,000","-6,000",-0.7,"72,279","58,756,998,000","820,000","824,000","806,000","53,593,650,000,000",2.12,"66,165,000",NaN,NaN,NaN

In [2]:
from datetime import timedelta, date
hld = pd.read_excel("./FullCache_bk/holidays_2020.xls")

def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

start_dt = date(2020,10,15)
end_dt = date(2021,1,15)

total_dates = []
weekdays = [5,6]
for dt in daterange(start_dt, end_dt):
    if dt.weekday() not in weekdays: 
        if dt.strftime("%Y-%m-%d") not in hld.iloc[:,0].values:
            total_dates.append(dt.strftime("%Y-%m-%d"))
        #print(dt.strftime("%Y-%m-%d"))

In [5]:
%%time

errs = []
driver_path = "C:/Users/Bae Kyungmo/OneDrive/Desktop/WC_basic/chromedriver.exe"
browser = Chrome(driver_path)
browser.maximize_window()
url = "http://marketdata.krx.co.kr/mdi#document=040402"
browser.get(url)
WebDriverWait(browser, 10).until(EC.element_to_be_clickable((By.XPATH,'//*[@id="schdate8f14e45fceea167a5a36dedd4bea2543"]')))
browser.find_elements_by_xpath('//*[@id="schdate8f14e45fceea167a5a36dedd4bea2543"]')[0].click()
for dt in redates:
    try:
        pyautogui.moveTo(617, 404)
        pyautogui.doubleClick()
        browser.find_elements_by_xpath('//*[@id="schdate8f14e45fceea167a5a36dedd4bea2543"]')[0].send_keys(dt[:4]+dt[5:7]+dt[8:])
        pyautogui.click(834, 455,duration=1.0)
        time.sleep(2)
        pyautogui.click(1266, 456,duration=1.0)
        try :
            for _ in range(1,20):
                time.sleep(1)
                try :
                    os.rename("C:/Users/Bae Kyungmo/Downloads/data.csv", "C:/Users/Bae Kyungmo/Downloads/marcap-{}.csv".format(dt))
                    break
                except :
                    pass
        except :
            raise ValueError("what?")
        time.sleep(1)
    except :
        raise ValueError("fuck!!")

Wall time: 6min 17s

In [49]:
q.rename(columns={'종목코드':'Code','순위':'Rank','종목명':'Name','현재가':'Close','대비':'Changes','등락률':'ChagesRatio','거래량':'Volume','거래대금':'Amount',
                 '시가':'Open','고가':'High','저가':'Low','시가총액':'Marcap','시가총액비중(%)':'MarcapRatio','상장주식수':'Stocks','외국인 보유주식수':'ForeignShares',
                 '외국인 지분율(%)':'ForeignRatio'},inplace=True)
#df.rename(columns = {'old_nm' : 'new_nm'), inplace = True)

In [134]:
def trading_days(start='2009-01-01', end='2021-12-31', mode='r'):
    if mode == 'w':
        files = glob.glob("./FullCache_bk/DateParser/*")
        holidays = []
        for fp in files :
            tmp_holidays = list(pd.read_excel(fp).loc[:,'일자 및 요일'].values)
            tmp_holidays = [dt[:10] for dt in tmp_holidays]
            holidays += tmp_holidays
        def daterange(date1, date2):
            for n in range(int ((date2-date1).days)+1):
                yield date1 + timedelta(n)
        start_dt = date(int(start[:4]),int(start[5:7]),int(start[8:10]))
        end_dt = date(int(end[:4]),int(end[5:7]),int(end[8:10]))
        total_dates = []
        weekdays = [5,6]
        for dt in daterange(start_dt, end_dt):
            if dt.weekday() not in weekdays:
                if dt.strftime("%Y-%m-%d") not in holidays:
                    total_dates.append(dt.strftime("%Y-%m-%d"))
        with open("./TradingDates.pickle","wb") as fw :
            pickle.dump(total_dates, fw)
    elif mode=='r' :
        with open("./TradingDates.pickle","rb") as fr :
            total_dates = pickle.load(fr)
    else :
        raise ValueError("Which mode do you want?")
    return total_dates

In [136]:
aa = trading_days(mode='r')

In [183]:
def MissingChecker(td_dates):
    miss_dts = []
    allfiles = glob.glob("./FullCache_bk/marcap/*.csv")
    for fp in allfiles:
        print(fp)
        year = fp.split('-')[-1].split('.')[0]
        flag_start = year+'-01-01'
        flag_end = year+'-12-31'
        sub_dates = []
        for e in td_dates :
            if e >= flag_start and e <= flag_end :
                sub_dates.append(e)
        if '2020-10-15' in fp :
            break
        tmp_dates = sorted(list(set(pd.read_csv(fp)['Date'].values)))
        for dt in sub_dates :
            if dt not in tmp_dates :
                miss_dts.append(dt)
    return miss_dts

In [184]:
%%time
msss = MissingChecker(aa)

./FullCache_bk/marcap\marcap-2010.csv
./FullCache_bk/marcap\marcap-2011.csv
./FullCache_bk/marcap\marcap-2012.csv
./FullCache_bk/marcap\marcap-2013.csv
./FullCache_bk/marcap\marcap-2014.csv
./FullCache_bk/marcap\marcap-2015.csv
./FullCache_bk/marcap\marcap-2016.csv
./FullCache_bk/marcap\marcap-2017.csv
./FullCache_bk/marcap\marcap-2018.csv
./FullCache_bk/marcap\marcap-2019.csv
./FullCache_bk/marcap\marcap-2020-10-15.csv
Wall time: 11.7 s

### Merging marcap2019-02-19 & 2019-05-31 to total2019 data

In [2]:
feb0219 = pd.read_csv("./FullCache/marcap/marcap-2019-02-19.csv")
may0531 = pd.read_csv("./FullCache/marcap/marcap-2019-05-31.csv")
total2019 = pd.read_csv("./FullCache/marcap/marcap-2019.csv")

In [4]:
feb0219.head(1)

,순위,종목코드,종목명,현재가,대비,등락률,거래량,거래대금,시가,고가,저가,시가총액,시가총액비중(%),상장주식수,외국인 보유주식수,외국인 지분율(%),총카운트
0,1,005930,삼성전자,"45,950",-250,-0.5,"6,741,395","309,243,749,000","45,850","46,150","45,450","274,311,508,172,500",15.99,"5,969,782,550","3,383,612,607",56.68,2382.0

In [5]:
may0531.head(1)

,순위,종목코드,종목명,현재가,대비,등락률,거래량,거래대금,시가,고가,저가,시가총액,시가총액비중(%),상장주식수,외국인 보유주식수,외국인 지분율(%),총카운트
0,1,005930,삼성전자,"42,500",-50,-0.1,"11,365,999","483,166,570,320","42,600","42,800","42,150","253,715,758,375,000",15.84,"5,969,782,550","3,407,482,602",57.08,2392.0

In [6]:
total2019.head(1)

,Code,Name,Close,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,MarcapRatio,Stocks,ForeignShares,ForeignRatio,Rank,Date
0,005930,삼성전자,38750,50,0.1,7847664,304682623050,39400,39400,38550,231329073812500,14.87,5969782550,3.319573e+09,55.61,1.0,2019-01-02

In [7]:
feb0219.rename(columns={'종목코드':'Code','순위':'Rank','종목명':'Name','현재가':'Close','대비':'Changes','등락률':'ChagesRatio','거래량':'Volume','거래대금':'Amount',
                 '시가':'Open','고가':'High','저가':'Low','시가총액':'Marcap','시가총액비중(%)':'MarcapRatio','상장주식수':'Stocks','외국인 보유주식수':'ForeignShares',
                 '외국인 지분율(%)':'ForeignRatio'},inplace=True)
may0531.rename(columns={'종목코드':'Code','순위':'Rank','종목명':'Name','현재가':'Close','대비':'Changes','등락률':'ChagesRatio','거래량':'Volume','거래대금':'Amount',
                 '시가':'Open','고가':'High','저가':'Low','시가총액':'Marcap','시가총액비중(%)':'MarcapRatio','상장주식수':'Stocks','외국인 보유주식수':'ForeignShares',
                 '외국인 지분율(%)':'ForeignRatio'},inplace=True)

In [9]:
feb0219.drop(['총카운트'],axis=1,inplace=True)
may0531.drop(['총카운트'],axis=1,inplace=True)

In [41]:
date_feb0219 = ['2019-02-19' for _ in range(len(feb0219))]
date_may0531 = ['2019-05-31' for _ in range(len(may0531))]

In [42]:
len(date_feb0219),len(date_may0531)

(2382, 2392)

In [43]:
feb0219['Date'] = date_feb0219
may0531['Date'] = date_may0531

In [44]:
may0531.head(1)

,Rank,Code,Name,Close,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,MarcapRatio,Stocks,ForeignShares,ForeignRatio,Date
0,1,005930,삼성전자,"42,500",-50,-0.1,"11,365,999","483,166,570,320","42,600","42,800","42,150","253,715,758,375,000",15.84,"5,969,782,550","3,407,482,602",57.08,2019-05-31

In [45]:
pd.concat([feb0219,may0531,total2019]).sort_values(by='Date')

,Rank,Code,Name,Close,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,MarcapRatio,Stocks,ForeignShares,ForeignRatio,Date
1172,1173.0,060310,3S,2190,-25,-1.1,24598,53853515,2280,2280,2160,97226972820,0.01,44395878,923078,2.08,2019-01-02
761,762.0,067390,아스트,10400,100,1.0,108475,1119031700,10400,10500,10150,163437008800,0.01,15715097,262456,1.67,2019-01-02
760,761.0,114570,지스마트글로벌,1875,65,3.6,4611104,8831301720,1905,1970,1865,163448347500,0.01,87172452,3.00473e+06,3.45,2019-01-02
759,760.0,007210,벽산,2385,-65,-2.6,456233,1089291865,2460,2495,2345,163515600000,0.01,68560000,7.34369e+06,10.71,2019-01-02
758,759.0,057500,SKC 솔믹스,2660,-10,-0.4,170034,459909775,2685,2765,2655,163574146400,0.01,61494040,2.21266e+06,3.60,2019-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588362,827.0,190510,나무가,47800,1400,3.0,98530,4696559850,46400,48700,45700,164154043000,0.01,3434185,153400,4.47,2019-12-30
588363,828.0,052420,오성첨단소재,2645,20,0.8,4602465,12368607510,2650,2760,2635,163900665125,0.01,61966225,115370,0.19,2019-12-30
588364,829.0,003555,LG우,49200,-300,-0.6,7246,357042900,49050,49550,48850,163082108400,0.01,3314677,1.99898e+06,60.31,2019-12-30
588357,822.0,005945,NH투자증권우,8830,-130,-1.4,134110,1190321950,8960,9000,8830,166630647440,0.01,18870968,943792,5.00,2019-12-30
590010,2475.0,208890,에듀파트너,900,0,0.0,0,0,0,0,0,1935738000,0.00,2150820,0,0.00,2019-12-30

In [17]:
len(total2019), len(feb0219), len(may0531)

(590011, 2382, 2392)

In [18]:
590011+2382+2392

594785

In [46]:
zz = pd.concat([feb0219,may0531,total2019]).sort_values(by='Date')

In [47]:
zz[lambda x : x['Date']=='2019-02-19'].sort_values(by='Rank')

,Rank,Code,Name,Close,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,MarcapRatio,Stocks,ForeignShares,ForeignRatio,Date
0,1.0,005930,삼성전자,"45,950",-250,-0.5,"6,741,395","309,243,749,000","45,850","46,150","45,450","274,311,508,172,500",15.99,"5,969,782,550","3,383,612,607",56.68,2019-02-19
1,2.0,000660,SK하이닉스,"73,700","-1,000",-1.3,"1,462,071","108,018,207,300","74,500","74,800","73,000","53,653,774,300,500",3.13,"728,002,365","366,492,658",50.34,2019-02-19
2,3.0,005935,삼성전자우,"36,600",-300,-0.8,"784,726","28,888,799,800","37,200","37,200","36,600","30,117,653,220,000",1.76,"822,886,700","764,571,027",92.91,2019-02-19
3,4.0,051910,LG화학,"390,000","-1,000",-0.3,"167,684","65,484,396,000","390,500","394,500","387,500","27,531,013,770,000",1.60,"70,592,343","26,829,799",38.01,2019-02-19
4,5.0,068270,셀트리온,"215,000","3,000",1.4,"431,134","92,587,801,000","213,000","217,000","211,500","26,973,068,595,000",1.57,"125,456,133","25,100,838",20.01,2019-02-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2377,2378.0,189540,씨티네트웍스,"1,080",135,14.3,230,"185,989",804,"1,080",804,"2,609,269,200",0.00,"2,415,990",0,0.00,2019-02-19
2378,2379.0,135270,세종머티리얼즈,140,-20,-12.5,"216,503","29,623,877",160,160,136,"840,920,920",0.00,"6,006,578",0,0.00,2019-02-19
2379,2380.0,179720,옐로페이,46,6,15.0,251,"11,546",46,46,46,"517,500,000",0.00,"11,250,000",0,0.00,2019-02-19
2380,2381.0,242850,영현무역,142,-4,-2.7,5,710,142,142,142,"230,040,000",0.00,"1,620,000",0,0.00,2019-02-19
2381,2382.0,250300,제이에스피브이,7,0,0.0,0,0,0,0,0,"165,708,697",0.00,"23,672,671",0,0.00,2019-02-19

In [32]:
feb0219[lambda x : x['Date']=='2019-02-19']

,Rank,Code,Name,Close,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,MarcapRatio,Stocks,ForeignShares,ForeignRatio,Date
0,1,005930,삼성전자,"45,950",-250,-0.5,"6,741,395","309,243,749,000","45,850","46,150","45,450","274,311,508,172,500",15.99,"5,969,782,550","3,383,612,607",56.68,2019-02-19
1,2,000660,SK하이닉스,"73,700","-1,000",-1.3,"1,462,071","108,018,207,300","74,500","74,800","73,000","53,653,774,300,500",3.13,"728,002,365","366,492,658",50.34,2019-02-19
2,3,005935,삼성전자우,"36,600",-300,-0.8,"784,726","28,888,799,800","37,200","37,200","36,600","30,117,653,220,000",1.76,"822,886,700","764,571,027",92.91,2019-02-19
3,4,051910,LG화학,"390,000","-1,000",-0.3,"167,684","65,484,396,000","390,500","394,500","387,500","27,531,013,770,000",1.60,"70,592,343","26,829,799",38.01,2019-02-19
4,5,068270,셀트리온,"215,000","3,000",1.4,"431,134","92,587,801,000","213,000","217,000","211,500","26,973,068,595,000",1.57,"125,456,133","25,100,838",20.01,2019-02-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2377,2378,189540,씨티네트웍스,"1,080",135,14.3,230,"185,989",804,"1,080",804,"2,609,269,200",0.00,"2,415,990",0,0.00,2019-02-19
2378,2379,135270,세종머티리얼즈,140,-20,-12.5,"216,503","29,623,877",160,160,136,"840,920,920",0.00,"6,006,578",0,0.00,2019-02-19
2379,2380,179720,옐로페이,46,6,15.0,251,"11,546",46,46,46,"517,500,000",0.00,"11,250,000",0,0.00,2019-02-19
2380,2381,242850,영현무역,142,-4,-2.7,5,710,142,142,142,"230,040,000",0.00,"1,620,000",0,0.00,2019-02-19
2381,2382,250300,제이에스피브이,7,0,0.0,0,0,0,0,0,"165,708,697",0.00,"23,672,671",0,0.00,2019-02-19

In [39]:
feb0219[lambda x : x['Volume']=='11,365,999']

Empty DataFrame
Columns: [Rank, Code, Name, Close, Changes, ChagesRatio, Volume, Amount, Open, High, Low, Marcap, MarcapRatio, Stocks, ForeignShares, ForeignRatio, Date]
Index: []

In [40]:
may0531[lambda x : x['Volume']=='11,365,999']

,Rank,Code,Name,Close,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,MarcapRatio,Stocks,ForeignShares,ForeignRatio,Date
0,1,005930,삼성전자,"42,500",-50,-0.1,"11,365,999","483,166,570,320","42,600","42,800","42,150","253,715,758,375,000",15.84,"5,969,782,550","3,407,482,602",57.08,2019-02-19

In [50]:
for dt in list(set(zz.Date.values)):
    if len(zz[lambda x : x['Date']==dt]) >=2500 or len(zz[lambda x : x['Date']==dt])<=2200:
        print(dt)
        print(len(zz[lambda x : x['Date']==dt]))

2019-04-19
4778

In [52]:
total2019[lambda x : x['Date']=='2019-04-19'].sort_values(by='Rank')

,Code,Name,Close,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,MarcapRatio,Stocks,ForeignShares,ForeignRatio,Rank,Date
171547,005930,삼성전자,45300,-300,-0.7,8479710,386062293847,45750,46000,45250,270431149515000,15.58,5969782550,3.412476e+09,57.16,1.0,2019-04-19
238461,005930,삼성전자,45300,-300,-0.7,8479710,386062293847,45750,46000,45250,270431149515000,15.58,5969782550,3.412476e+09,57.16,1.0,2019-04-19
238462,000660,SK하이닉스,81800,2600,3.3,3040186,248303994300,80500,82400,80100,59550593457000,3.43,728002365,3.740308e+08,51.38,2.0,2019-04-19
171548,000660,SK하이닉스,81800,2600,3.3,3040186,248303994300,80500,82400,80100,59550593457000,3.43,728002365,3.740308e+08,51.38,2.0,2019-04-19
171549,005935,삼성전자우,36650,-300,-0.8,799378,29424388600,37000,37050,36650,30158797555000,1.74,822886700,7.620337e+08,92.60,3.0,2019-04-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173933,179720,옐로페이,120,-20,-14.3,7,1020,150,150,120,1422000000,0.00,11850000,0.000000e+00,0.00,2387.0,2019-04-19
240848,135270,세종머티리얼즈,84,-5,-5.6,12904,1038281,85,85,76,570868284,0.00,6796051,0.000000e+00,0.00,2388.0,2019-04-19
173934,135270,세종머티리얼즈,84,-5,-5.6,12904,1038281,85,85,76,570868284,0.00,6796051,0.000000e+00,0.00,2388.0,2019-04-19
173935,242850,영현무역,260,0,0.0,0,0,0,0,0,421200000,0.00,1620000,0.000000e+00,0.00,2389.0,2019-04-19
240849,242850,영현무역,260,0,0.0,0,0,0,0,0,421200000,0.00,1620000,0.000000e+00,0.00,2389.0,2019-04-19

In [53]:
dp1 = total2019[lambda x : x['Date']=='2019-04-19']

In [54]:
dp1.shape

(4778, 17)

In [55]:
dp1.drop_duplicates()

,Code,Name,Close,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,MarcapRatio,Stocks,ForeignShares,ForeignRatio,Rank,Date
171547,005930,삼성전자,45300,-300,-0.7,8479710,386062293847,45750,46000,45250,270431149515000,15.58,5969782550,3.412476e+09,57.16,1.0,2019-04-19
171548,000660,SK하이닉스,81800,2600,3.3,3040186,248303994300,80500,82400,80100,59550593457000,3.43,728002365,3.740308e+08,51.38,2.0,2019-04-19
171549,005935,삼성전자우,36650,-300,-0.8,799378,29424388600,37000,37050,36650,30158797555000,1.74,822886700,7.620337e+08,92.60,3.0,2019-04-19
171550,005380,현대차,134000,0,0.0,335516,45010003000,135000,135500,133000,28631537058000,1.65,213668187,9.552514e+07,44.71,4.0,2019-04-19
171551,068270,셀트리온,218000,14500,7.1,1295363,274935917500,204500,220000,204000,27350593484000,1.58,125461438,2.546196e+07,20.29,5.0,2019-04-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173931,223220,아이피몬스터,256,0,0.0,0,0,0,0,0,2761538816,0.00,10787261,7.990000e+03,0.07,2385.0,2019-04-19
173932,189540,씨티네트웍스,970,120,14.1,2,1750,780,970,780,2343510300,0.00,2415990,0.000000e+00,0.00,2386.0,2019-04-19
173933,179720,옐로페이,120,-20,-14.3,7,1020,150,150,120,1422000000,0.00,11850000,0.000000e+00,0.00,2387.0,2019-04-19
173934,135270,세종머티리얼즈,84,-5,-5.6,12904,1038281,85,85,76,570868284,0.00,6796051,0.000000e+00,0.00,2388.0,2019-04-19
173935,242850,영현무역,260,0,0.0,0,0,0,0,0,421200000,0.00,1620000,0.000000e+00,0.00,2389.0,2019-04-19

In [60]:
zz2 = zz.drop_duplicates().reset_index().sort_index()

In [61]:
zz2.to_csv("./FullCache/marcap/marcap-2019-all.csv",index=False)

In [62]:
pd.read_csv("./FullCache/marcap/marcap-2019-all.csv")

C:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4,5,7,8,9,10,11,12,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,index,Rank,Code,Name,Close,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,MarcapRatio,Stocks,ForeignShares,ForeignRatio,Date
0,1172,1173.0,060310,3S,2190,-25,-1.1,24598,53853515,2280,2280,2160,97226972820,0.01,44395878,923078,2.08,2019-01-02
1,761,762.0,067390,아스트,10400,100,1.0,108475,1119031700,10400,10500,10150,163437008800,0.01,15715097,262456,1.67,2019-01-02
2,760,761.0,114570,지스마트글로벌,1875,65,3.6,4611104,8831301720,1905,1970,1865,163448347500,0.01,87172452,3.00473e+06,3.45,2019-01-02
3,759,760.0,007210,벽산,2385,-65,-2.6,456233,1089291865,2460,2495,2345,163515600000,0.01,68560000,7.34369e+06,10.71,2019-01-02
4,758,759.0,057500,SKC 솔믹스,2660,-10,-0.4,170034,459909775,2685,2765,2655,163574146400,0.01,61494040,2.21266e+06,3.60,2019-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592391,588362,827.0,190510,나무가,47800,1400,3.0,98530,4696559850,46400,48700,45700,164154043000,0.01,3434185,153400,4.47,2019-12-30
592392,588363,828.0,052420,오성첨단소재,2645,20,0.8,4602465,12368607510,2650,2760,2635,163900665125,0.01,61966225,115370,0.19,2019-12-30
592393,588364,829.0,003555,LG우,49200,-300,-0.6,7246,357042900,49050,49550,48850,163082108400,0.01,3314677,1.99898e+06,60.31,2019-12-30
592394,588357,822.0,005945,NH투자증권우,8830,-130,-1.4,134110,1190321950,8960,9000,8830,166630647440,0.01,18870968,943792,5.00,2019-12-30
592395,590010,2475.0,208890,에듀파트너,900,0,0.0,0,0,0,0,0,1935738000,0.00,2150820,0,0.00,2019-12-30

In [63]:
%%time
files = glob.glob("./FullCache/marcap/*")
for fp in files :
    z1 = pd.read_csv(fp)
    if z1.shape != z1.drop_duplicates().shape:
        print(fp, z1.shape, z1.drop_duplicates().shape)

<decorator-gen-55>:2: DtypeWarning: Columns (4,5,7,8,9,10,11,12,14,15) have mixed types.Specify dtype option on import or set low_memory=False.

./FullCache/marcap\marcap-2019.csv (590011, 17) (587622, 17)
Wall time: 29.7 s

In [64]:
590011 - 2389

587622

In [65]:
total2020 = pd.read_csv("./FullCache/marcap/marcap-2020.csv")

In [66]:
files = glob.glob("./FullCache/marcap/marcap-2020*")

In [72]:
files = files[1:-1]

In [82]:
#tls=[total2020]
for fp in files :
    t1 = pd.read_csv(fp)
    print(fp, t1.shape)
    dt = fp.split('marcap-')[-1].split('.csv')[0]
    t1.rename(columns={'종목코드':'Code','순위':'Rank','종목명':'Name','현재가':'Close','대비':'Changes','등락률':'ChagesRatio','거래량':'Volume','거래대금':'Amount',
                 '시가':'Open','고가':'High','저가':'Low','시가총액':'Marcap','시가총액비중(%)':'MarcapRatio','상장주식수':'Stocks','외국인 보유주식수':'ForeignShares',
                 '외국인 지분율(%)':'ForeignRatio'},inplace=True)
    t1.drop(['총카운트'],axis=1,inplace=True)
    dts = [dt for _ in range(len(t1))]
    t1['Date'] = dts
    print(t1.head(1))
    total2020 = pd.concat([total2020,t1]).sort_values(by='Date')
g1 = total2020.reset_index().sort_index()

./FullCache/marcap\marcap-2020-10-16.csv (2502, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  59,500    -500         -0.8  16,554,190

            Amount    Open    High     Low               Marcap  MarcapRatio  \
0  987,630,872,630  60,000  60,400  59,000  355,202,061,725,000        18.37

          Stocks  ForeignShares  ForeignRatio        Date
0  5,969,782,550  3,348,684,518         56.09  2020-10-16
./FullCache/marcap\marcap-2020-10-19.csv (2503, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  60,000     500          0.8  14,474,985

            Amount    Open    High     Low               Marcap  MarcapRatio  \
0  867,445,905,100  59,600  60,200  59,500  358,186,953,000,000        18.53

          Stocks  ForeignShares  ForeignRatio        Date
0  5,969,782,550  3,349,021,732          56.1  2020-10-19
./FullCache/marcap\marcap-2020-10-20.csv (2503, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  60,900     900          1.5  19,326,115

              Amount    Open    High     Low               Marcap  \
0  1,172,317,250,906  60,300  60,900  60,100  363,559,757,295,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.71  5,969,782,550  3,353,917,884         56.18  2020-10-20
./FullCache/marcap\marcap-2020-10-21.csv (2503, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  60,900       0          0.0  15,703,443

            Amount    Open    High     Low               Marcap  MarcapRatio  \
0  959,154,941,000  61,200  61,500  60,600  363,559,757,295,000        18.61

          Stocks  ForeignShares  ForeignRatio        Date
0  5,969,782,550  3,355,422,870         56.21  2020-10-21
./FullCache/marcap\marcap-2020-10-22.csv (2503, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  60,100    -800         -1.3  14,294,095

            Amount    Open    High     Low               Marcap  MarcapRatio  \
0  858,048,333,246  60,300  60,500  59,800  358,783,931,255,000        18.53

          Stocks  ForeignShares  ForeignRatio        Date
0  5,969,782,550  3,352,764,576         56.16  2020-10-22
./FullCache/marcap\marcap-2020-10-23.csv (2504, 17)
   Rank    Code  Name   Close Changes  ChagesRatio     Volume  \
0     1  005930  삼성전자  60,200     100          0.2  9,322,232

            Amount    Open    High     Low               Marcap  MarcapRatio  \
0  560,419,899,005  60,400  60,400  59,800  359,380,909,510,000        18.54

          Stocks  ForeignShares  ForeignRatio        Date
0  5,969,782,550  3,352,649,769         56.16  2020-10-23
./FullCache/marcap\marcap-2020-10-26.csv (2504, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  60,400     200          0.3  13,268,226

            Amount    Open    High     Low               Marcap  MarcapRatio  \
0  803,140,204,300  60,400  61,100  60,100  360,574,866,020,000        18.82

          Stocks  ForeignShares  ForeignRatio        Date
0  5,969,782,550  3,353,510,233         56.17  2020-10-26
./FullCache/marcap\marcap-2020-10-27.csv (2504, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  59,800    -600         -1.0  17,260,416

              Amount    Open    High     Low               Marcap  \
0  1,032,623,352,660  60,300  60,300  59,500  356,992,996,490,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0         18.7  5,969,782,550  3,353,453,906         56.17  2020-10-27
./FullCache/marcap\marcap-2020-10-28.csv (2505, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  59,000    -800         -1.3  14,428,882

            Amount    Open    High     Low               Marcap  MarcapRatio  \
0  851,618,619,425  59,400  59,400  58,800  352,217,170,450,000        18.27

          Stocks  ForeignShares  ForeignRatio        Date
0  5,969,782,550  3,352,024,087         56.15  2020-10-28
./FullCache/marcap\marcap-2020-10-29.csv (2506, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  58,100    -900         -1.5  22,636,966

              Amount    Open    High     Low               Marcap  \
0  1,313,484,238,200  58,200  58,500  57,500  346,844,366,155,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0         18.1  5,969,782,550  3,351,228,371         56.14  2020-10-29
./FullCache/marcap\marcap-2020-10-30.csv (2507, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  56,600  -1,500         -2.6  26,907,844

              Amount    Open    High     Low               Marcap  \
0  1,541,223,383,000  58,000  58,000  56,600  337,889,692,330,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.09  5,969,782,550  3,343,353,450          56.0  2020-10-30
./FullCache/marcap\marcap-2020-11-02.csv (2507, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  57,400     800          1.4  20,489,076

              Amount    Open    High     Low               Marcap  \
0  1,165,272,782,935  56,400  57,500  56,000  342,665,518,370,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.09  5,969,782,550  3,341,249,266         55.97  2020-11-02
./FullCache/marcap\marcap-2020-11-03.csv (2507, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  58,800   1,400          2.4  14,950,919

            Amount    Open    High     Low               Marcap  MarcapRatio  \
0  873,635,908,544  57,900  58,900  57,600  351,023,213,940,000        18.18

          Stocks  ForeignShares  ForeignRatio        Date
0  5,969,782,550  3,341,340,625         55.97  2020-11-03
./FullCache/marcap\marcap-2020-11-04.csv (2507, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  58,500    -300         -0.5  21,718,561

              Amount    Open    High     Low               Marcap  \
0  1,269,055,231,850  58,900  59,000  57,800  349,232,279,175,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        17.97  5,969,782,550  3,335,740,266         55.88  2020-11-04
./FullCache/marcap\marcap-2020-11-05.csv (2506, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  60,300   1,800          3.1  20,639,475

              Amount    Open    High     Low               Marcap  \
0  1,232,654,470,000  59,000  60,300  58,800  359,977,887,765,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0         18.1  5,969,782,550  3,342,651,269         55.99  2020-11-05
./FullCache/marcap\marcap-2020-11-06.csv (2507, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  60,100    -200         -0.3  16,910,230

              Amount    Open    High     Low               Marcap  \
0  1,015,446,062,300  60,700  60,800  59,600  358,783,931,255,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.04  5,969,782,550  3,345,291,144         56.04  2020-11-06
./FullCache/marcap\marcap-2020-11-09.csv (2507, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  60,200     100          0.2  15,892,961

            Amount    Open    High     Low               Marcap  MarcapRatio  \
0  962,261,517,220  60,700  60,900  60,100  359,380,909,510,000        17.83

          Stocks  ForeignShares  ForeignRatio        Date
0  5,969,782,550  3,347,475,796         56.07  2020-11-09
./FullCache/marcap\marcap-2020-11-10.csv (2507, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  60,200       0          0.0  19,073,552

              Amount    Open    High     Low               Marcap  \
0  1,144,230,876,258  60,500  60,500  59,500  359,380,909,510,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        17.83  5,969,782,550  3,349,024,840          56.1  2020-11-10
./FullCache/marcap\marcap-2020-11-11.csv (2507, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  61,300   1,100          1.8  25,628,510

              Amount    Open    High     Low               Marcap  \
0  1,562,195,790,430  60,700  61,400  60,400  365,947,670,315,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        17.96  5,969,782,550  3,356,653,932         56.23  2020-11-11
./FullCache/marcap\marcap-2020-11-12.csv (2508, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  61,000    -300         -0.5  19,800,573

              Amount    Open    High     Low               Marcap  \
0  1,208,396,630,080  61,000  61,400  60,700  364,156,735,550,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        17.92  5,969,782,550  3,360,486,981         56.29  2020-11-12
./FullCache/marcap\marcap-2020-11-13.csv (2508, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  63,200   2,200          3.6  31,508,829

              Amount    Open    High     Low               Marcap  \
0  1,962,139,786,626  61,300  63,200  61,000  377,290,257,160,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.46  5,969,782,550  3,369,821,874         56.45  2020-11-13
./FullCache/marcap\marcap-2020-11-16.csv (2508, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  66,300   3,100          4.9  36,354,334

              Amount    Open    High     Low               Marcap  \
0  2,384,455,883,700  64,000  66,700  63,900  395,796,583,065,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        19.02  5,969,782,550  3,374,837,153         56.53  2020-11-16
./FullCache/marcap\marcap-2020-11-17.csv (2509, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  65,700    -600         -0.9  30,204,089

              Amount    Open    High     Low               Marcap  \
0  1,999,330,006,280  67,000  67,000  65,600  392,214,713,535,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.89  5,969,782,550  3,376,328,996         56.56  2020-11-17
./FullCache/marcap\marcap-2020-11-18.csv (2510, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  64,800    -900         -1.4  22,963,790

              Amount    Open    High     Low               Marcap  \
0  1,495,190,594,762  65,700  66,200  64,700  386,841,909,240,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.54  5,969,782,550  3,375,031,754         56.54  2020-11-18
./FullCache/marcap\marcap-2020-11-19.csv (2510, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  64,600    -200         -0.3  16,590,290

              Amount    Open    High     Low               Marcap  \
0  1,066,784,816,800  64,100  64,800  63,900  385,647,952,730,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.45  5,969,782,550  3,374,440,535         56.53  2020-11-19
./FullCache/marcap\marcap-2020-11-23.csv (2512, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  67,500   2,800          4.3  27,134,398

              Amount    Open    High     Low               Marcap  \
0  1,811,363,067,200  64,800  67,800  64,700  402,960,322,125,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.87  5,969,782,550  3,378,913,075          56.6  2020-11-23
./FullCache/marcap\marcap-2020-11-24.csv (2512, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  67,700     200          0.3  32,158,235

              Amount    Open    High     Low               Marcap  \
0  2,194,516,840,235  67,900  69,500  67,000  404,154,278,635,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.83  5,969,782,550  3,380,860,470         56.63  2020-11-24
./FullCache/marcap\marcap-2020-11-25.csv (2513, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  66,600  -1,100         -1.6  32,447,065

              Amount    Open    High     Low               Marcap  \
0  2,185,553,286,350  67,900  68,300  66,500  397,587,517,830,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.64  5,969,782,550  3,376,465,034         56.56  2020-11-25
./FullCache/marcap\marcap-2020-11-26.csv (2514, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  68,000   1,400          2.1  19,023,323

              Amount    Open    High     Low               Marcap  \
0  1,279,790,447,375  66,100  68,000  66,000  405,945,213,400,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.85  5,969,782,550  3,377,745,389         56.58  2020-11-26
./FullCache/marcap\marcap-2020-11-27.csv (2514, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  68,200     200          0.3  14,063,434

            Amount    Open    High     Low               Marcap  MarcapRatio  \
0  957,450,603,551  68,000  68,400  67,600  407,139,169,910,000        18.82

          Stocks  ForeignShares  ForeignRatio        Date
0  5,969,782,550  3,375,203,046         56.54  2020-11-27
./FullCache/marcap\marcap-2020-11-30.csv (2514, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  66,700  -1,500         -2.2  43,811,016

              Amount    Open    High     Low               Marcap  \
0  2,946,475,687,804  68,400  68,600  66,700  398,184,496,085,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.65  5,969,782,550  3,362,502,847         56.33  2020-11-30
./FullCache/marcap\marcap-2020-12-01.csv (2514, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  67,800   1,100          1.6  22,327,173

              Amount    Open    High     Low               Marcap  \
0  1,513,603,485,956  67,100  68,300  67,100  404,751,256,890,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.67  5,969,782,550  3,361,671,765         56.31  2020-12-01
./FullCache/marcap\marcap-2020-12-02.csv (2516, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  69,500   1,700          2.5  29,703,942

              Amount    Open    High     Low               Marcap  \
0  2,060,700,628,380  68,400  69,900  68,300  414,899,887,225,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.86  5,969,782,550  3,364,828,006         56.36  2020-12-02
./FullCache/marcap\marcap-2020-12-03.csv (2516, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  69,700     200          0.3  23,677,989

              Amount    Open    High     Low               Marcap  \
0  1,654,493,266,700  70,100  70,500  69,300  416,093,843,735,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        18.76  5,969,782,550  3,365,148,246         56.37  2020-12-03
./FullCache/marcap\marcap-2020-12-04.csv (2517, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  71,500   1,800          2.6  28,130,533

              Amount    Open    High     Low               Marcap  \
0  2,010,489,248,016  70,400  72,100  70,100  426,839,452,325,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        19.01  5,969,782,550  3,367,568,445         56.41  2020-12-04
./FullCache/marcap\marcap-2020-12-07.csv (2518, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  72,900   1,400          2.0  28,490,496

              Amount    Open    High     Low               Marcap  \
0  2,071,956,768,562  72,400  73,500  71,900  435,197,147,895,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        19.25  5,969,782,550  3,367,719,318         56.41  2020-12-07
./FullCache/marcap\marcap-2020-12-08.csv (2518, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  71,700  -1,200         -1.6  25,000,338

              Amount    Open    High     Low               Marcap  \
0  1,804,281,313,280  72,200  72,900  71,600  428,033,408,835,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        19.26  5,969,782,550  3,364,206,224         56.35  2020-12-08
./FullCache/marcap\marcap-2020-12-09.csv (2520, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  73,900   2,200          3.1  24,077,996

              Amount    Open    High     Low               Marcap  \
0  1,758,752,959,520  72,100  73,900  72,000  441,166,930,445,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0         19.5  5,969,782,550  3,363,404,671         56.34  2020-12-09
./FullCache/marcap\marcap-2020-12-10.csv (2521, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  72,900  -1,000         -1.4  39,882,928

              Amount    Open    High     Low               Marcap  \
0  2,916,536,731,883  72,700  73,800  72,500  435,197,147,895,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        19.25  5,969,782,550  3,354,485,806         56.19  2020-12-10
./FullCache/marcap\marcap-2020-12-11.csv (2523, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  73,400     500          0.7  18,486,672

              Amount    Open    High     Low               Marcap  \
0  1,356,958,867,500  73,500  73,800  73,100  438,182,039,170,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        19.21  5,969,782,550  3,351,615,396         56.14  2020-12-11
./FullCache/marcap\marcap-2020-12-14.csv (2524, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  73,800     400          0.5  21,510,415

              Amount    Open    High     Low               Marcap  \
0  1,590,299,594,150  73,600  74,500  73,200  440,569,952,190,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        19.35  5,969,782,550  3,350,768,177         56.13  2020-12-14
./FullCache/marcap\marcap-2020-12-15.csv (2524, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  73,800       0          0.0  20,863,671

              Amount    Open    High     Low               Marcap  \
0  1,538,015,446,864  73,800  74,100  73,300  440,569,952,190,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        19.38  5,969,782,550  3,348,503,431         56.09  2020-12-15
./FullCache/marcap\marcap-2020-12-16.csv (2525, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  73,800       0          0.0  17,512,081

              Amount    Open    High     Low               Marcap  \
0  1,291,858,716,200  74,100  74,500  73,400  440,569,952,190,000

   MarcapRatio         Stocks  ForeignShares  ForeignRatio        Date
0        19.26  5,969,782,550  3,344,767,532         56.03  2020-12-16
./FullCache/marcap\marcap-2020-12-17.csv (2525, 17)
   Rank    Code  Name   Close Changes  ChagesRatio      Volume  \
0     1  005930  삼성전자  73,300    -500         -0.7  24,293,214

              Amount    Open    High     Low               Marcap  \

In [80]:
zxc = pd.concat(tls)

In [81]:
zxc.reset_index().sort_values(by='Date')

,index,Code,Name,Close,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,MarcapRatio,Stocks,ForeignShares,ForeignRatio,Rank,Date
0,0,005930,삼성전자,55200,-600,-1.1,12993228,719663194492,55500,56000,55000,329531996760000,19.28,5969782550,3.39246e+09,56.83,1,2020-01-02
1646,1646,006370,대구백화점,5930,-60,-1.0,5932,35440860,5990,6040,5910,64172153230,0.00,10821611,264832,2.45,1647,2020-01-02
1647,1647,057030,YBM넷,3930,50,1.3,150216,586738690,3860,3955,3850,64108899210,0.00,16312697,974828,5.98,1648,2020-01-02
1648,1648,036690,코맥스,4400,155,3.6,117879,513291435,4255,4415,4245,64069865200,0.00,14561333,479368,3.29,1649,2020-01-02
1649,1649,040610,SG&G,1875,20,1.1,44889,83297760,1840,1875,1840,63913492500,0.00,34087196,1.23653e+06,3.63,1650,2020-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612394,844,035810,이지홀딩스,"4,095",30,0.7,"289,025","1,185,122,740","4,070","4,125","4,045","227,848,351,185",0.01,"55,640,623","2,131,137",3.83,845,2020-12-30
612395,845,054950,제이브이엠,"35,950",700,2.0,"19,550","704,072,600","35,500","36,500","35,250","227,596,142,600",0.01,"6,330,908","323,653",5.11,846,2020-12-30
612396,846,007860,서연,"9,690",-150,-1.5,"606,331","5,927,559,290","9,840","9,990","9,650","227,519,688,360",0.01,"23,479,844","19,810",0.08,847,2020-12-30
612389,839,144620,코오롱머티리얼,"3,340",0,0.0,"348,830","1,174,854,275","3,400","3,435","3,315","229,319,840,900",0.01,"68,658,635","525,205",0.76,840,2020-12-30
614080,2530,225860,엠앤씨생명과학,144,2,1.4,"3,329","475,447",128,154,128,"1,635,565,248",0.00,"11,358,092",0,0.00,2531,2020-12-30

In [85]:
g1.drop(['index'],axis=1,inplace=True)

In [87]:
g1.to_csv("./FullCache/marcap/marcap-2020-all.csv",index=False)

In [88]:
gg1 = pd.read_csv("./FullCache/marcap/marcap-2020-all.csv")

C:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2,3,5,6,7,8,9,10,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [90]:
gg1[lambda x : x['Date']=='2020-12-30'].sort_values(by='Rank')

,Code,Name,Close,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,MarcapRatio,Stocks,ForeignShares,ForeignRatio,Rank,Date
613231,005930,삼성전자,"81,000","2,700",3.4,"29,417,421","2,344,317,462,700","77,400","81,300","77,300","483,552,386,550,000",20.39,"5,969,782,550","3,326,606,260",55.72,1,2020-12-30
613232,000660,SK하이닉스,"118,500","2,500",2.2,"4,195,192","489,962,294,500","116,000","118,500","114,500","86,268,280,252,500",3.64,"728,002,365","361,961,830",49.72,2,2020-12-30
613233,005935,삼성전자우,"73,600","1,400",1.9,"4,325,286","315,266,417,846","72,000","74,000","71,500","60,564,461,120,000",2.55,"822,886,700","674,311,379",81.94,3,2020-12-30
613234,051910,LG화학,"824,000","11,000",1.4,"339,889","273,851,447,000","813,000","824,000","805,000","58,168,090,632,000",2.45,"70,592,343","30,002,602",42.50,4,2020-12-30
613235,207940,삼성바이오로직스,"826,000","4,000",0.5,"150,024","124,237,260,000","828,000","833,000","816,000","54,652,290,000,000",2.30,"66,165,000","6,934,543",10.48,5,2020-12-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612392,242350,피엔아이컴퍼니,414,-35,-7.8,"12,793","5,202,747",445,445,397,"1,971,269,280",0.00,"4,761,520",0,0.00,2527,2020-12-30
612393,344860,이노진,"1,025",0,0.0,0,0,0,0,0,"1,906,500,000",0.00,"1,860,000",0,0.00,2528,2020-12-30
612180,224020,에스케이씨에스,680,80,13.3,430,"292,400",680,680,680,"1,836,000,000",0.00,"2,700,000",0,0.00,2529,2020-12-30
613230,179720,옐로페이,"2,430",315,14.9,300,"728,850","2,400","2,430","2,400","1,796,985,000",0.00,"739,500",0,0.00,2530,2020-12-30
614080,225860,엠앤씨생명과학,144,2,1.4,"3,329","475,447",128,154,128,"1,635,565,248",0.00,"11,358,092",0,0.00,2531,2020-12-30

In [92]:
for dt in list(set(gg1.Date.values)):
    if len(gg1[lambda x : x['Date']==dt]) >=2600 or len(gg1[lambda x : x['Date']==dt])<=2200:
        print(dt)
        print(len(gg1[lambda x : x['Date']==dt]))

### 일단 중복이거나 없거나 빠진 것들 다 합치는거 완료 ~ 2020까지 완벽..

---

In [116]:
df = stock.get_market_ohlcv_by_ticker("20210115", "KOSDAQ")
kdq = list(df.index)
kdqls=[]
for e in kdq :
    try :
        kdqls.append('{:06d}'.format(int(e)))
    except :
        try :
            kdqls.append(str(e))
        except :
            raise ValueError("what")

In [117]:
len(kspls), len(kdqls), len(knx)

(917, 1470, 143)

In [118]:
917+1470+143

2530

In [2]:
conn = pymysql.connect(host='localhost',user='root',
                                   password='tlqkfdk2',db='INVESTAR',charset='utf8')

In [7]:
cn = conn.cursor()

In [9]:
cn.execute('select code, company from company_info;')

2411

In [10]:
ls = cn.fetchall()

In [11]:
codes = [str(e[0]) for e in ls]
comps = [str(e[0]) for e in ls]

---

##### 이거 돌리면 되겠다

In [2]:
df = stock.get_market_ohlcv_by_ticker("20210115", "KOSDAQ")
kdq = list(df.index)
kdqls=[]
for e in kdq :
    try :
        kdqls.append('{:06d}'.format(int(e)))
    except :
        try :
            kdqls.append(str(e))
        except :
            raise ValueError("what")

In [3]:
df = stock.get_market_ohlcv_by_ticker("20210115", "KOSPI")
ksp = list(df.index)
kspls=[]
for e in ksp :
    try :
        kspls.append('{:06d}'.format(int(e)))
    except :
        try :
            kspls.append(str(e))
        except :
            raise ValueError("what")

In [4]:
df = stock.get_market_ohlcv_by_ticker("20210115", "KONEX")
knx = list(df.index)
knxls=[]
for e in knx :
    try :
        knxls.append('{:06d}'.format(int(e)))
    except :
        try :
            knxls.append(str(e))
        except :
            raise ValueError("what")

In [5]:
len(kspls),len(kdqls),len(knxls)

(917, 1470, 143)

In [12]:
%%time
errs = []
for cd in codes :
    try :
        if cd in kspls:
            sql = f"UPDATE company_info SET market='KOSPI' where code='{cd}'"
        elif cd in kdqls:
            sql = f"UPDATE company_info SET market='KOSDAQ' where code='{cd}'"
        elif cd in knxls :
            sql = f"UPDATE company_info SET market='KONEX' where code='{cd}'"
        else :
            errs.append(cd)
        cn.execute(sql)
        conn.commit()
    except:
        errs.append(cd)

Wall time: 3.86 s

In [13]:
pd.read_sql("select * from company_info",conn)

        code company last_update                  sector  market
0     000020    동화약품  2021-01-06                 의약품 제조업   KOSPI
1     000040   KR모터스  2021-01-06          그외 기타 운송장비 제조업   KOSPI
2     000050      경방  2021-01-06                  종합 소매업   KOSPI
3     000060   메리츠화재  2021-01-06                     보험업   KOSPI
4     000070   삼양홀딩스  2021-01-06                  기타 금융업   KOSPI
...      ...     ...         ...                     ...     ...
2406  950160  코오롱티슈진  2021-01-06   기초 의약물질 및 생물학적 제제 제조업  KOSDAQ
2407  950170     JTC  2021-01-06                  종합 소매업  KOSDAQ
2408  950180     SNK  2021-01-06          소프트웨어 개발 및 공급업  KOSDAQ
2409  950190     미투젠  2021-01-06          소프트웨어 개발 및 공급업  KOSDAQ
2410  950200     소마젠  2021-01-06  그외 기타 전문, 과학 및 기술 서비스업  KOSDAQ

[2411 rows x 5 columns]

In [14]:
errs

['291210']

수동으로 DB업데이트하고 끝!

---

In [4]:
spif = pd.read_sql("select * from split_info",conn)

In [5]:
spif

        code company              split
0     000020    동화약품                 액분
1     000040   KR모터스  감자-액분-감자-유증-감자-감자
2     000050      경방      유증-권배락-권배락-액분
3     000060   메리츠화재          액분-유증-합/분
4     000070   삼양홀딩스                합/분
...      ...     ...                ...
2406  950160      덕성
2407  950170   DRB동일
2408  950180  티웨이홀딩스
2409  950190    동일산업
2410  950200   조광페인트

[2411 rows x 3 columns]

---

# 큰일이 났어 KRX를 잘봐;;

* https://kind.krx.co.kr/disclosure/details.do?method=searchDetailsMain&disclosureType=02&disTypevalue=0321&disTypename=6
여기서 변경상장 정보 볼 수는 있네..

KRX에 문의해볼까 ㅠ

In [7]:
qwe = pd.read_sql("select * from finance_info where code='005930'",conn)

In [8]:
qwe

       code     date       item type      value
0    005930  2015-12     BPS(원)    Y   23715.00
1    005930  2015-12      CAPEX    Y  258802.00
2    005930  2015-12     EPS(원)    Y    2198.00
3    005930  2015-12        FCF    Y  141815.00
4    005930  2015-12     PBR(배)    Y       1.06
..      ...      ...        ...  ...        ...
523  005930  2022-12   재무활동현금흐름    Y -114066.00
524  005930  2022-12   투자활동현금흐름    Y -439577.00
525  005930  2022-12   현금DPS(원)    Y    1665.00
526  005930  2022-12  현금배당성향(%)    Y      22.15
527  005930  2022-12    현금배당수익률    Y       1.83

[528 rows x 5 columns]

In [9]:
t1 = pd.read_csv("./FullCache/marcap/marcap-2010.csv")

In [11]:
t1.Code.values

array(['005930', '005490', '005380', ..., '012405', '033855', '001385'],
      dtype=object)

In [12]:
t1.head()

,Code,Name,Close,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,MarcapRatio,Stocks,ForeignShares,ForeignRatio,Rank,Date
0,005930,삼성전자,809000,10000,1.2,239271,192566991282,803000,809000,800000,119165163633000,12.12,147299337,70256289.0,47.70,1,2010-01-04
1,005490,POSCO,612000,-6000,-1.0,133963,81892175000,610000,619000,608000,53358343020000,5.43,87186835,43694144.0,50.12,2,2010-01-04
2,005380,현대차,119000,-2000,-1.6,1606672,190847186500,119500,120500,118000,26212901001000,2.67,220276479,80142843.0,36.38,3,2010-01-04
3,105560,KB금융,59400,-300,-0.5,1201665,71147524000,59700,60100,58500,22949290564200,2.33,386351693,227740369.0,58.95,4,2010-01-04
4,015760,한국전력,34250,150,0.4,1924201,65724306900,33800,34300,33800,21973694136000,2.23,641567712,162987177.0,25.40,5,2010-01-04

In [38]:
t1[(t1.Code=='105930')&(t1.Date=='2010-03-30')]

Empty DataFrame
Columns: [Code, Name, Close, Changes, ChagesRatio, Volume, Amount, Open, High, Low, Marcap, MarcapRatio, Stocks, ForeignShares, ForeignRatio, Rank, Date]
Index: []

In [39]:
t2 = t1[(t1.Code=='105930')&(t1.Date=='2010-03-30')]

In [40]:
for idx, row in t2.iterrows():
    print(idx, row.Date, row.Marcap)

In [42]:
'2020-01-01'[:7]

'2020-01'

In [24]:
len(set(t1.Code.values))

2073

In [25]:
def MarcapExtract(codes, td_days, conn):
    errs=[]
    query=[]
    cursor = conn.cursor()
    #year_ls = [str(2010+i) for i in range(11)]
    year_ls = [str(2010)]
    file_path = "./FullCache/marcap/marcap-{}.csv"
    for year in year_ls :
        fpath = file_path.format(year)
        tmp = pd.read_csv(fpath)
        tmp_codes = list(tmp.Code.values)
        #tmp_codes=['005930']
        
        """Trading date for quarter/annual last day"""
        Q1 = ''#year+'-'+'03-31'
        Q2 = ''#year+'-'+'06-31'
        Q3 = ''#year+'-'+'09-31'
        Y = ''#year+'-'+'12-31'
        for td in td_days :
            if td >= year+'-'+'01-01':
                if td <= year+'-03-31':
                    Q1 = td
                elif td <= year+'-06-31':
                    Q2 = td
                elif td <= year+'-09-31':
                    Q3 = td
                elif td <= year+'-12-31':
                    Y = td
                else :
                    break
                    #raise ValueError("What is this? -> {}".format(td))
        #print(Q1, Q2, Q3, Y)
        """Value Extract"""        
        for cd in tmp_codes :
            if cd not in codes :
                continue
            else :
                for ith, unit in enumerate([Q1,Q2,Q3,Y]):
                    #print(unit)
                    if ith != 3 :
                        sub = tmp[(tmp.Code==cd)&(tmp.Date==unit)]
                        if len(sub) == 0 :
                            errs.append(cd+'|'+unit)
                        else :
                            for idx, row in sub.iterrows():
                                #print(row)
                                #print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','시가총액','Q',{row.Marcap}")
                                """print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','시가총액','Q',{row.Marcap}")
                                print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','시가총액비중(%)','Q',{row.MarcapRatio}")
                                print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','상장주식수','Q',{row.Stocks}")
                                query.append(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액','Q',{row.Marcap})")
                                query.append(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액비중(%)','Q',{row.MarcapRatio})")
                                query.append(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','상장주식수','Q',{row.Stocks})")"""
                                
                                if len(pd.read_sql(f"SELECT * FROM finance_info_copy where code='{cd}' and date='{unit[:7]}' and item='시가총액' and type='Q'",conn)) == 0:
                                    cursor.execute(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액','Q',{row.Marcap})")
                                else :
                                    errs.append(cd+'|'+unit)
                                if len(pd.read_sql(f"SELECT * FROM finance_info_copy where code='{cd}' and date='{unit[:7]}' and item='시가총액비중(%)' and type='Q'",conn)) == 0:
                                    cursor.execute(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액비중(%)','Q',{row.MarcapRatio})")
                                else :
                                    errs.append(cd+'|'+unit)
                                if len(pd.read_sql(f"SELECT * FROM finance_info_copy where code='{cd}' and date='{unit[:7]}' and item='상장주식수' and type='Q'",conn)) == 0:
                                    cursor.execute(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','상장주식수','Q',{row.Stocks})")
                                else :
                                    errs.append(cd+'|'+unit)
                                conn.commit()
                    else :
                        sub = tmp[(tmp.Code==cd)&(tmp.Date==unit)]
                        if len(sub) == 0 :
                            errs.append(cd+'|'+unit)
                        else :
                            for idx, row in sub.iterrows():
                                """#print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','시가총액','Y',{row.Marcap}")
                                query.append(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액','Y',{row.Marcap})")
                                query.append(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액비중(%)','Y',{row.MarcapRatio})")
                                query.append(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','상장주식수','Y',{row.Stocks})")
                                print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','시가총액','Y',{row.Marcap}")
                                print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','시가총액비중(%)','Y',{row.MarcapRatio}")
                                print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','상장주식수','Y',{row.Stocks}")"""
                                
                                if len(pd.read_sql(f"SELECT * FROM finance_info_copy where code='{cd}' and date='{unit[:7]}' and item='시가총액' and type='Y'",conn)) == 0:
                                    cursor.execute(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액','Y',{row.Marcap})")
                                else :
                                    errs.append(cd+'|'+unit)
                                if len(pd.read_sql(f"SELECT * FROM finance_info_copy where code='{cd}' and date='{unit[:7]}' and item='시가총액비중(%)' and type='Y'",conn)) == 0:    
                                    cursor.execute(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액비중(%)','Y',{row.MarcapRatio})")
                                else :
                                    errs.append(cd+'|'+unit)
                                if len(pd.read_sql(f"SELECT * FROM finance_info_copy where code='{cd}' and date='{unit[:7]}' and item='상장주식수' and type='Y'",conn)) == 0:
                                    cursor.execute(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','상장주식수','Y',{row.Stocks})")
                                else :
                                    errs.append(cd+'|'+unit)
                                conn.commit()
        #conn.commit()
    return errs#, query

In [17]:
conn.close()

In [4]:
conn = pymysql.connect(host='localhost',user='root',
                                   password='tlqkfdk2',db='INVESTAR',charset='utf8')

In [9]:
cn = conn.cursor()

In [15]:
pd.read_sql("select * from finance_info_copy where code='005930' and date='2010-03' and item='시가총액비중(%)' and type='Q'",conn)

     code     date       item type  value
0  005930  2010-03  시가총액비중(%)    Q   12.0

In [26]:
%%time
ers,qry = MarcapExtract(codes, td_days,conn)

KeyboardInterrupt:

In [22]:
len(pd.read_sql(f"SELECT * FROM finance_info_copy where code='005930' and date='2010-03' and item='시가총액' and type='Q'",conn))

1

In [54]:
qry

["INSERT INTO finance_info_copy VALUES('005930','2010-03','시가총액','Q',120490857666000)",
 "INSERT INTO finance_info_copy VALUES('005930','2010-03','시가총액비중(%)','Q',12.12)",
 "INSERT INTO finance_info_copy VALUES('005930','2010-03','상장주식수','Q',147299337)",
 "INSERT INTO finance_info_copy VALUES('005930','2010-06','시가총액','Q',114009686838000)",
 "INSERT INTO finance_info_copy VALUES('005930','2010-06','시가총액비중(%)','Q',11.13)",
 "INSERT INTO finance_info_copy VALUES('005930','2010-06','상장주식수','Q',147299337)",
 "INSERT INTO finance_info_copy VALUES('005930','2010-09','시가총액','Q',114451584849000)",
 "INSERT INTO finance_info_copy VALUES('005930','2010-09','시가총액비중(%)','Q',10.14)",
 "INSERT INTO finance_info_copy VALUES('005930','2010-09','상장주식수','Q',147299337)",
 "INSERT INTO finance_info_copy VALUES('005930','2010-12','시가총액','Y',139787070813000)",
 "INSERT INTO finance_info_copy VALUES('005930','2010-12','시가총액비중(%)','Y',11.27)",
 "INSERT INTO finance_info_copy VALUES('005930','2010-12','상장주식수','Y',147299337)"]

In [63]:
qry2 = [qry[0],qry[3],qry[6],qry[9]]

In [65]:
for qr in qry2 :
    cn.execute(qr)

IntegrityError: (1062, "Duplicate entry '005930-2010-03-시가총액-Q' for key 'PRIMARY'")

In [60]:
cn = conn.cursor()

## Table corrupted 문제인듯... 새로운 테이블 아무거나 만들어서 해보면 문제가 없다... DB-Table Backup하는 것도 한 번 시도 해보자꾸나..

In [33]:
cursor = conn.cursor()

In [38]:
cursor.execute("INSERT INTO finance_info VALUES('005930','2010-09','시가총액','Q',9999999)")

1

In [39]:
conn.commit()

In [40]:
cursor.execute("select * from finance_info where item='시가총액'")

2

In [41]:
cursor.fetchone()

('005930', '2010-03', '시가총액', 'Q', 120490857666000.0)

In [72]:
ers

[]

In [3]:
with open("./TradingDates.pickle","rb") as fr:
    td_days = pickle.load(fr)

In [6]:
td_days[:5]

['2009-01-02', '2009-01-05', '2009-01-06', '2009-01-07', '2009-01-08']

In [5]:
codes = list(pd.read_sql("select code from company_info",conn).code.values)

In [6]:
len(codes)
#codes

2411

In [2]:
def MarcapExtract2(codes, td_days, conn):
    errs=[]
    query=[]
    cursor = conn.cursor()
    year_ls = [str(2011+i) for i in range(10)]
    #year_ls = [str(2010)]
    file_path = "./FullCache/marcap/marcap-{}.csv"
    try :
        for year in year_ls :
            fpath = file_path.format(year)
            tmp = pd.read_csv(fpath)
            tmp_codes = list(set(tmp.Code.values))
            #tmp_codes=['005930']

            """Trading date for quarter/annual last day"""
            Q1 = ''#year+'-'+'03-31'
            Q2 = ''#year+'-'+'06-31'
            Q3 = ''#year+'-'+'09-31'
            Y = ''#year+'-'+'12-31'
            for td in td_days :
                if td >= year+'-'+'01-01':
                    if td <= year+'-03-31':
                        Q1 = td
                    elif td <= year+'-06-31':
                        Q2 = td
                    elif td <= year+'-09-31':
                        Q3 = td
                    elif td <= year+'-12-31':
                        Y = td
                    else :
                        break
                        #raise ValueError("What is this? -> {}".format(td))
            #print(Q1, Q2, Q3, Y)
            """Value Extract"""        
            for cd in tmp_codes :
                if cd not in codes :
                    continue
                else :
                    for ith, unit in enumerate([Q1,Q2,Q3,Y]):
                        #print(unit)
                        if ith != 3 :
                            sub = tmp[(tmp.Code==cd)&(tmp.Date==unit)]
                            if len(sub) == 0 :
                                errs.append(cd+'|'+unit)
                            else :
                                for idx, row in sub.iterrows():
                                    #print(row)
                                    #print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','시가총액','Q',{row.Marcap}")
                                    """print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','시가총액','Q',{row.Marcap}")
                                    print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','시가총액비중(%)','Q',{row.MarcapRatio}")
                                    print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','상장주식수','Q',{row.Stocks}")"""
                                    query.append(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액','Q',{row.Marcap})")
                                    query.append(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액비중(%)','Q',{row.MarcapRatio})")
                                    query.append(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','상장주식수','Q',{row.Stocks})")
                                    """
                                    if len(pd.read_sql(f"SELECT * FROM finance_info_copy where code='{cd}' and date='{unit[:7]}' and item='시가총액' and type='Q'",conn)) == 0:
                                        cursor.execute(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액','Q',{row.Marcap})")
                                    else :
                                        errs.append(cd+'|'+unit)
                                    if len(pd.read_sql(f"SELECT * FROM finance_info_copy where code='{cd}' and date='{unit[:7]}' and item='시가총액비중(%)' and type='Q'",conn)) == 0:
                                        cursor.execute(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액비중(%)','Q',{row.MarcapRatio})")
                                    else :
                                        errs.append(cd+'|'+unit)
                                    if len(pd.read_sql(f"SELECT * FROM finance_info_copy where code='{cd}' and date='{unit[:7]}' and item='상장주식수' and type='Q'",conn)) == 0:
                                        cursor.execute(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','상장주식수','Q',{row.Stocks})")
                                    else :
                                        errs.append(cd+'|'+unit)
                                    conn.commit()"""
                        else :
                            sub = tmp[(tmp.Code==cd)&(tmp.Date==unit)]
                            if len(sub) == 0 :
                                errs.append(cd+'|'+unit)
                            else :
                                for idx, row in sub.iterrows():
                                    #print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','시가총액','Y',{row.Marcap}")
                                    query.append(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액','Y',{row.Marcap})")
                                    query.append(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액비중(%)','Y',{row.MarcapRatio})")
                                    query.append(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','상장주식수','Y',{row.Stocks})")
                                    """#print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','시가총액','Y',{row.Marcap}")
                                    print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','시가총액비중(%)','Y',{row.MarcapRatio}")
                                    print(f"INSERT INTO finance_info VALUES('{cd}','{unit[:7]}','상장주식수','Y',{row.Stocks}")

                                    if len(pd.read_sql(f"SELECT * FROM finance_info_copy where code='{cd}' and date='{unit[:7]}' and item='시가총액' and type='Y'",conn)) == 0:
                                        cursor.execute(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액','Y',{row.Marcap})")
                                    else :
                                        errs.append(cd+'|'+unit)
                                    if len(pd.read_sql(f"SELECT * FROM finance_info_copy where code='{cd}' and date='{unit[:7]}' and item='시가총액비중(%)' and type='Y'",conn)) == 0:    
                                        cursor.execute(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','시가총액비중(%)','Y',{row.MarcapRatio})")
                                    else :
                                        errs.append(cd+'|'+unit)
                                    if len(pd.read_sql(f"SELECT * FROM finance_info_copy where code='{cd}' and date='{unit[:7]}' and item='상장주식수' and type='Y'",conn)) == 0:
                                        cursor.execute(f"INSERT INTO finance_info_copy VALUES('{cd}','{unit[:7]}','상장주식수','Y',{row.Stocks})")
                                    else :
                                        errs.append(cd+'|'+unit)
                                    conn.commit()"""
            #conn.commit()
    except :
        errs.append("fuck!!!")
    return errs, query

In [29]:
%%time
ers,qry = MarcapExtract2(codes, td_days,conn)

Wall time: 5min 56s

In [31]:
len(ers),len(qry)

(138, 16986)

In [41]:
qq = [ers,qry]

In [43]:
with open("./qry1.pickle","wb") as fw:
    pickle.dump(qq,fw)

### 그전에 저 ers가 왜 있나 확인해봐야함..

In [51]:
qz = set([s.split('|')[0] for s in ers])

In [52]:
len(qz)

65

In [54]:
list(qz)[:5]

['079970', '058860', '117670', '119830', '114120']

In [46]:
w1 = pd.read_csv("./FullCache/marcap/marcap-2010.csv")

In [58]:
w1[lambda x : x['Code']=='114120']

,Code,Name,Close,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,MarcapRatio,Stocks,ForeignShares,ForeignRatio,Rank,Date
267602,114120,크루셜텍,27150,-4750,-14.9,2832748,82914552350,31900,33850,27150,225061201050,0.02,8289547,168475.0,2.03,353,2010-07-21
269521,114120,크루셜텍,27250,100,0.4,1481342,39798990300,26500,27600,25800,225890155750,0.02,8289547,113766.0,1.37,341,2010-07-22
271489,114120,크루셜텍,23750,-3500,-12.8,1613997,41199720550,27900,28450,23250,196876741250,0.02,8289547,117200.0,1.41,380,2010-07-23
273438,114120,크루셜텍,22000,-1750,-7.4,678522,15540374050,23750,24200,22000,182370034000,0.02,8289547,87761.0,1.06,399,2010-07-26
275362,114120,크루셜텍,23200,1200,5.4,1636838,38226780250,22250,24800,22000,192317490400,0.02,8289547,587761.0,7.09,392,2010-07-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479654,114120,크루셜텍,46350,2550,5.8,325289,15152747750,44050,47800,44050,384776703450,0.03,8301547,2259468.0,27.22,246,2010-12-24
481620,114120,크루셜텍,46250,-100,-0.2,97976,4526741600,46350,46950,45650,383946548750,0.03,8301547,2263049.0,27.26,249,2010-12-27
483581,114120,크루셜텍,47400,1150,2.5,196620,9366789150,46800,48600,46500,393493327800,0.03,8301547,2310502.0,27.83,246,2010-12-28
485544,114120,크루셜텍,47350,-50,-0.1,70778,3335631250,47250,47800,46500,393078250450,0.03,8301547,2316281.0,27.90,246,2010-12-29
487505,114120,크루셜텍,47600,250,0.5,79336,3746430250,47900,48300,46600,395153637200,0.03,8301547,2335167.0,28.13,245,2010-12-30

### 다 확인은 해봐야겠지만 2010년부터 상장되서 그 날짜의 데이터가 없는 경우에는 예외처리된거네..

### 일단 이거 돌리면 된다... 하...

In [7]:
%%time
ers2,qry2 = MarcapExtract2(codes, td_days,conn)

Wall time: 1h 20min 30s

In [8]:
len(ers2),len(qry2)

(4194, 217830)

In [9]:
qq = [ers2, qry2]

In [10]:
with open("./qry2.pickle","wb") as fw:
    pickle.dump(qq,fw)

In [11]:
qry2[:10]

["INSERT INTO finance_info_copy VALUES('096240','2011-03','시가총액','Q',70213115000)",
 "INSERT INTO finance_info_copy VALUES('096240','2011-03','시가총액비중(%)','Q',0.01)",
 "INSERT INTO finance_info_copy VALUES('096240','2011-03','상장주식수','Q',6213550)",
 "INSERT INTO finance_info_copy VALUES('096240','2011-06','시가총액','Q',68038372500)",
 "INSERT INTO finance_info_copy VALUES('096240','2011-06','시가총액비중(%)','Q',0.01)",
 "INSERT INTO finance_info_copy VALUES('096240','2011-06','상장주식수','Q',6213550)",
 "INSERT INTO finance_info_copy VALUES('096240','2011-09','시가총액','Q',62756855000)",
 "INSERT INTO finance_info_copy VALUES('096240','2011-09','시가총액비중(%)','Q',0.01)",
 "INSERT INTO finance_info_copy VALUES('096240','2011-09','상장주식수','Q',6213550)",
 "INSERT INTO finance_info_copy VALUES('096240','2011-12','시가총액','Y',70523792500)"]

In [13]:
cn = conn.cursor()

In [16]:
%%time

for qr in qry2:
    cn.execute(qr)
    conn.commit()

Wall time: 12min 21s

In [17]:
with open("./qry1.pickle","rb") as fr:
    qw = pickle.load(fr)

In [20]:
qwe = qw[1]

In [21]:
qwe[:5]

["INSERT INTO finance_info_copy VALUES('021080','2010-03','시가총액','Q',33810000000)",
 "INSERT INTO finance_info_copy VALUES('021080','2010-03','시가총액비중(%)','Q',0.0)",
 "INSERT INTO finance_info_copy VALUES('021080','2010-03','상장주식수','Q',42000000)",
 "INSERT INTO finance_info_copy VALUES('021080','2010-06','시가총액','Q',25620000000)",
 "INSERT INTO finance_info_copy VALUES('021080','2010-06','시가총액비중(%)','Q',0.0)"]

In [22]:
%%time

for qr in qwe:
    cn.execute(qr)
    conn.commit()

Wall time: 25.8 s

In [23]:
len(qwe)

16986